.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1em auto;
    max-width: 800px;
}

.title {
    font-size: 1.9em;
    color: white;
    cursor: pointer;
}

.connect {
    margin-top: 10px;
    color: white;
}

.link {
    text-decoration: none;
    font-size: 20px;
    margin-left: 5px;
    color: white;
}

.icon {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .icon {
        display: block;
    }
    .navbar.responsive {
        flex-direction: column;
        align-items: center;
    }
}
